
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "文件服务管理";
}

<div class="easyui-dialog" data-options="collapsible:false,closable:false,modal:true,title:'用户登陆',width:320,height:180" style="overflow: hidden;">
    <div id="info" style="height: 105px; overflow-y: auto;">
        @using (Html.BeginForm("LogOn", "Account", FormMethod.Post))
        {
            <table class="tform">
                <tr>
                    <th style="width:80px">
                        用户名:
                    </th>
                    <td>
                        <input id="UserId" name="UserId" value="@ViewBag.UserName" style="width:170px" />
                    </td>
                </tr>
                <tr>
                    <th style="width:80px">
                        密 码:
                    </th>
                    <td>
                        <input id="Password" name="Password" type="password" value="@ViewBag.PassWord" style="width:170px" />
                    </td>
                </tr>
            </table>
        }
        <font color="red">@ViewBag.Message</font>
    </div>
    @*<div style="background: #f4f4f4; border: 1px solid #e6e6e6; width: 100%; height: 30px; padding-top:5px;  text-align: center; ">*@
    <div style="width: 100%; text-align: center; ">
        <a href="#" class="easyui-linkbutton" onclick="document.forms[0].submit();">登陆</a>
    </div>
    <script type="text/javascript">
        window.document.onkeydown = function (evt) {
            evt = window.event || evt;
            if (evt.keyCode == 13) {
                if ($("#UserId").is(":focus"))
                {
                    $("#Password").focus();
                    return;
                }
                if ($("#Password").is(":focus"))
                {
                    document.forms[0].submit();
                    return;
                }
            }
        }
        $(document).ready(function () {
            if ($("#UserId").val() == "") {
                $("#UserId").focus();
            }
            else {
                $("#UserId").select();
            }
            

        });
    </script>
</div>