<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Scripts/easyui/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.11.0.js"></script>
    <link href="~/Scripts/easyui/themes/default/easyui.css" rel="stylesheet" />
    <script src="~/Scripts/easyui/jquery.easyui.js"></script>
    <script src="~/Scripts/easyui/locale/easyui-lang-zh_CN.js"></script>
    @RenderSection("Head", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
