<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="UploadFilePath" value="d:\temp\" />
    <add key="OrderTemplatePath" value="~\App_Data\订单导入模板.xlsx" />
    <add key="OrderTemplateName" value="订单导入模板.xlsx" />

    <!--获取邮箱下单时间-->
    <add key="SyncTime" value="0 53 10 * * ?" />
    <!--同步数据到CPWP-->
    <add key="SyncToCPWPTime" value="0 26 13 * * ?" />

    <add key="EmailServer" value="pop3.crediteyes.com" />
    <add key="EmailServerPort" value="110" />
    <add key="EmailReader" value="online@crediteyes.com" />
    <add key="EmailPassWord" value="S3rvic3!@#$%" />
    <add key="ReadDay" value="1" />
    <add key="CustomerServiceEmail" value="summer.zhang@crediteyes.com" />
    <add key="AnzhuoOrderEmail" value="Joyce.CAO@atradius.com" />
    <add key="SinosureEmail" value="report2@sinosure.com.cn" />
    <add key="EmailTemplateCode" value="CROnline邮箱下单成功通知" />
  </appSettings>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender"></appender-ref>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt"></file>
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd hh:mm:ss} – %m%n" />
      </layout>
    </appender>
  </log4net>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LoginView" timeout="2880" />
    </authentication>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICRService" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="02:00:00" sendTimeout="02:00:00"/>
        <binding name="BasicHttpBinding_ICRService1" maxReceivedMessageSize="2147483647" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="02:00:00" sendTimeout="02:00:00" >
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IEmailService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:5508/CRService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICRService1" contract="CRService.ICRService"
        name="BasicHttpBinding_ICRService1" />
      <endpoint address="http://192.168.20.70:8001/EmailService" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IEmailService" contract="EmailService.IEmailService"
        name="WSHttpBinding_IEmailService" />
      <endpoint address="http://localhost:5508/CRService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICRService" contract="CRServiceProxy.ICRService"
        name="BasicHttpBinding_ICRService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
