@using (Html.BeginForm(this.ViewContext.RouteData.Values["action"].ToString(), "User", FormMethod.Post, new { @id = "sd" }))
{
    <input name="Id" type="hidden" value="@ViewBag.Id" />
    <table class="tform">
        <tr>
            <th style="width:80px">
                新密码:
            </th>
            <td>
                <input id="Password" name="Password" type="password" class="easyui-validatebox" required="true" />
            </td>
        </tr>

    </table>
}
<div class="dialog-button" style="text-align: center;">
    <a href="#" class="easyui-linkbutton" onclick="Submit();">确定</a>
</div>
<script type="text/javascript">
    var isSubmit = false;
    function Submit() {
        if (!isSubmit) {
            isSubmit = true;
            setTimeout(function () { isSubmit = false; }, 500);
            $('#sd').submit();
        }
    }
    if (window.$) {
        $('#sd').form({
            success: function (data) {
                if (data === "1") {
                    CloseChildWindow();
                }
                else {
                    $.messager.alert('提示', data);
                }
            }
        });
        $.parser.onComplete = function () {
            $('#sd').form("validate");
        }
    }
</script>