@{
    ViewBag.Title = "用户管理";
}
<table class="easyui-datagrid" title="用户管理" data-options="
            fit:true,
            singleSelect:true,
            remoteSort: false,
            multiSort:true,
            url:'/User/GetUserInfo',
            pagination:true,
            pageList:[10,20,30,50,100],
            pageSize:30,
            toolbar:'#tb',
            rownumbers:true,
            onDblClickRow:DblClickRow">
    <thead>
        <tr>
            <th data-options="field:'UserId',sortable:true">
                用户编码
            </th>
            <th data-options="field:'UserName',sortable:true">
                用户名称
            </th>
            <th data-options="field:'IsDisable'" formatter="SetCheckBox" align="center">
                是否禁用
            </th>
        </tr>
    </thead>
</table>
<div id="tb" style="padding: 5px; height: auto">
    <div style="margin-bottom: 5px">
        <a href="#" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="Add();">添加</a>
        <a href="#" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="Remove();">删除</a>
        <a href="#" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="ChangePassword();">修改密码</a>
        用户名
        <input id="UserName" class="easyui-validatebox" style="width: 80px" />
        <a href="#" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="Search();">
            搜索
        </a>
    </div>
</div>


<script type="text/javascript">
    function Search() {
        $(".easyui-datagrid").datagrid("load", { UserName: $('#UserName').val() });
    }
    function DblClickRow(rowIndex, rowData) {
        var url = '@Url.Action("Edit")';
        url = url + "?Id=" + rowData.Id;
        ShowChildWindow("修改用户", 780, 424, url, false);
    }
    function Add() {
        var url = '@Url.Action("Add")';
        ShowChildWindow("添加用户", 780, 424, url, false);
    }
    function Remove() {
        var row = $(".easyui-datagrid").datagrid("getSelected");
        if (row == null) {
            window.parent.$.messager.alert('提示', '请选择一行进行操作!');
            return;
        }
        window.parent.$.messager.confirm('提示', '是否要删除当前记录?', function (r) {
            if (r) {
                var url = '@Url.Action("Delete")';
                $.post(url, row, function (data, status) {
                    if (data == "1") {
                        $(".easyui-datagrid").datagrid("reload");
                    }
                    else {
                        window.parent.$.messager.alert('提示', data);
                    }
                });
            }
        });
    }
    function ChangePassword()
    {
        var row = $(".easyui-datagrid").datagrid("getSelected");
        if (row == null) {
            window.parent.$.messager.alert('提示', '请选择一行进行操作!');
            return;
        }
        var url = '@Url.Action("ChangePassword")';
        url = url + "?Id=" + row.Id;
        ShowChildWindow('修改密码', 300, 106, url, false);
        }
    function SetCheckBox(value, rowData, rowIndex) {
        if (value == "1") {
            return '<input type="checkbox" onclick="return false;" checked>';
        }
        else {
            return '<input type="checkbox" onclick="return false;" >';
        }
    }
</script>
