@{
    ViewBag.Title = "DoPreAuthResult";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

<div class="right_content">
    <div class="list_header">商户信息<div class="top_m_l"></div><div class="top_m_r"></div></div>
    <div class="user_info">
        <ul>
            <li>交易成功</li>
            <li>银联流水号：<b>@Html.ViewData["Qid"]</b></li>
            <li>用户名：</li>
            <li>上次登录IP地址：</li>
            <li>上次登录时间：</li>
            <li>为提高商户服务网站安全级别，在处理资金交易类操作时，将需要校验手机短信码，请联系管理员增加手机号码。</li>
        </ul>
    </div>
</div>

