
@{
    ViewBag.Title = "预授权管理系统";
    
}
<div class="right_content">
    <div class="list_header">
        机构信息
        <div class="top_m_l"></div>
        <div class="top_m_r"></div>
    </div>
    <div class="user_info">
        <ul>
            <li>机构名称：<b></b></li>
            <li>机构编码：</li>
            <li>用户名：</li>
            <li>上次登录IP地址：</li>
            <li>上次登录时间：</li>
        </ul>
    </div>
</div>
