@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--
    <meta content="银联,银联在线,中国银联,银联支付,银联在线支付,中国银联在线,银联在线商城,银联在线还款,中国银联在线支付,银联支付平台" name="keywords">
    <meta content="银联在线支付是中国银联联合商业银行共同推出的集成化、综合性、开放性网上支付平台,全面支持各类型银联卡,涵盖认证支付、快捷支付、普通支付、网银支付等多种支付方式,可为银联卡持卡人的购物缴费、商旅预定、慈善捐款、转账还款等提供安全、快捷、多选择、全球化的支付服务." name="description">
    -->
    <link rel="shortcut icon" href="~/omer/resources/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/omer/resources/favicon.ico" type="image/x-icon">

    <link href="~/omer/resources/merser/css/global.css" rel="stylesheet" type="text/css">
    <link href="~/omer/resources/merser/css/index.css" rel="stylesheet" type="text/css">
    <link href="~/omer/resources/merser/css/main.css" rel="stylesheet" type="text/css">
    <link href="~/omer/resources/zh_cn/css/redmond/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="~/omer/resources/js/jquery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="~/omer/resources/js/jquery/jquery-ui-1.9.2.custom.min.js"></script>
    <script type="text/javascript" src="~/omer/resources/js/install_upms.js"></script>
    <script type="text/javascript" src="~/omer/resources/js/upms-lang-zh-cn.js"></script>
    <script type="text/javascript" src="~/omer/resources/js/upms.js"></script>
    <script type="text/javascript" src="~/omer/resources/js/up.floatCustomService.js"></script>
    <script type="text/javascript" src="~/omer/resources/js/mersercommon.js"></script>
    <script type="text/javascript" src="~/omer/resources/js/UPEdit.js"></script>


    <title>内蒙银联-预授权信息管理平台！</title>
    @*<style type="text/css">
        .loginPwdControl {
            width: 163px;
            height: 24px;
            line-height: 24px;
            float: left;
            border: 1px solid #C4CCD3;
            border-top: 1px solid #C4CCD3;
            border-radius: 2px 2px 2px 2px;
            box-shadow: 1px 1px 1px #E3E3E3 inset;
            font-size: 14px;
            padding: 2px;
        }
    </style*@
    
    @*<style type="text/css">
        .rightservice {
            position: fixed;
            right: 10px;
            top: 152px;
            width: 53px;
            z-index: 500;
        }

        *html, *html body {
            background-image: url(https://online.unionpay.com/static/cms/img/30/6460cf5d-dd11-43fe-bebc-ac3b7d2adaf1.gif);
            background-attachment: fixed;
        }

        *html .rightservice {
            position: absolute;
            right: 15px;
            top: expression(eval(document.documentElement.scrollTop)+180);
            width: 53px;
        }

            .rightservice a.service, a.unservice {
                width: 53px;
                height: 85px;
                background: url(https://online.unionpay.com/static/cms/img/21/d11fda13-3bb9-45c3-aa47-d85e67e5fe47.gif) no-repeat 0 0;
                display: inline-block;
                margin-bottom: 15px;
            }

                .rightservice a.service:hover {
                    background-position: 0 -85px;
                }

            .rightservice a.unservice {
                background-position: 0 -170px;
            }

            .rightservice a.service_small, a.unservice_small {
                width: 38px;
                height: 120px;
                background: url(https://online.unionpay.com/static/cms/img/21/d11fda13-3bb9-45c3-aa47-d85e67e5fe47.gif) no-repeat 0 -260px;
                display: inline-block;
                margin-bottom: 15px;
            }

                .rightservice a.service_small:hover {
                    background-position: 0 -380px;
                }

            .rightservice a.unservice_small {
                background-position: 0 -500px;
            }
    </style>*@
</head>
<body>
    <!--S 头部 -->
    <div class="header_wrap">
        <div class="header">
            <!-- logo -->
            <!--<div class="fl">
                <h1><a href="~/omer/index.jsp"><img src="~/omer/resources/merser/images/logo_merch.gif" alt="预授权信息管理平台" width="285" height="35"></a></h1>
            </div>-->
            <!-- 语言选择 -->
            <!--<div class="fr">
                <a href="http://online.unionpay.com/static/help/default.html" target="_blank" class="links">帮助</a>
                <strong>24小时客服热线95516</strong>
                <div class="language">

                    <span>简体中文</span>
                    <div>
                        <a href="javascript: void(0);" onclick="changeLang('en-us')">English</a>
                        <a href="javascript: void(0);" onclick="changeLang('zh-tw')">繁体中文</a>
                    </div>




                    <form method="post" action="~/omer/login/index.action" name="langForm" id="langForm">
                        <input type="hidden" value="zh-cn" name="requestLocale" id="requestLocale">
                        <input type="hidden" value="login" name="requestFlag" id="requestFlag">
                    </form>
                    <script type="text/javascript">
                        function changeLang(lang) {
                            upms.cookieUtils.set("WEBSITE_LANG", lang, 1000, "/");
                            $("#requestLocale").val(lang);
                            $("#langForm").submit();
                        }
                    </script>
                </div>
                <div class="clear"></div>
            </div>
                -->
        </div>
    </div>
    <!--E 头部 -->
    <!--S导航-->
    <div class="nav_wrap">
        <!--
        <div class="main_nav">
            <div class="nav_items fl">
                <a href="~/omer/page/merser/index.jsp" class="focus">首页</a>
                <a href="~/omer/page/merser/join_net.jsp">入网须知</a>
                <a href="~/omer/page/merser/guide.jsp">接入指南</a>
                <a href="~/omer/page/merser/service.jsp">运营服务</a>
                <a href="~/omer/page/merser/helper.jsp">使用帮助</a>
            </div>
            <a href="javascript: void(0);" onclick="docDown();" class="btn fr"></a>
        </div>
            -->
    </div>
    <!--E导航-->
    <!--S 内容-->
    <div class="content">
        <div class="top_ct clearfix">
            <!--表单-->
            <div class="form_box">
                <div class="form_main">
                    <h1 class="form_title">商户登录</h1>
                    <div class="form_ct clearfix">
                        <!--提示信息，服务器返回验证出错提示-->
                        <ul class="notice_box dn">
                            <li>您操作本页时间过长，服务器返回超时。</li>
                        </ul>
                        <form id="loginForm" class="loginForm">
                            <div class="info_line">
                                <div class="label_item">机构代码：</div>
                                <div class="ipt_box">
                                    <input name="mchntCd" id="mchntCd" class="ipt_txt" type="text" autocomplete="off" maxlength="15" value="" tabindex="1">
                                    <input type="hidden" id="operatorType" name="operatorType" value="0">
                                </div>
                                <div class="note_info orgnum"></div>
                            </div>
                            <div class="info_line">
                                <div class="label_item">用户名：</div>
                                <div class="ipt_box">
                                    <input id="loginName" name="loginName" type="text" class="ipt_txt" autocomplete="off" maxlength="32" value="" tabindex="2">
                                </div>
                                <div class="note_info user"></div>
                            </div>
                            <div class="info_line" style="height: 47px;">
                                <div class="label_item">密码：</div>
                                <div class="ipt_box">
                                    @*<script type="text/javascript">userUPE.generatespan()</script><span id="upeId_down" class="loginPwdControl" style="text-align:center;"><a href="/omer/resources/js/ocx/UPEditorFF.exe">请点此安装控件</a></span>*@
                                    <input type="password" class="ipt_txt" name="loginPassword" value="" id="loginPassword">
                                </div>
                                <div id="_pwdTip_" class="note_info pwd pwdCsshack" style="*margin-left:0px"></div>
                            </div>
                            @*<div class="info_line yzmline">
                                    <div class="label_item">验证码：</div>
                                    <div class="ipt_box">
                                        <input type="text" name="captchaCode" class="ipt_txt CardDefault" style="vertical-align:middle; width:80px" id="captchaCode" maxlength="4" tabindex="4" value="">
                                        &nbsp;<img style="vertical-align: middle;" name="captchaCodeImg" id="captchaCodeImg" class="code" width="67" height="24" title="若看不清,请点击刷新" src="/omer/login/randCode.action?t=1411797785949">
                                    </div>
                                    <div class="note_info jym"></div>
                                    <div class="clear"></div>
                                </div>*@
                        </form>
                        <!--按钮-->
                        <div class="btn_line">
                            <input type="button" class="login_btn" onclick="portalSubmit();">
                        </div>
                    </div>
                </div>
                <!--外框-->
                <div class="wrap_form" style="opacity: 0.5;">
                    <div class="wrap_title"></div>
                    <div class="wrap_ct"></div>
                </div>
            </div>
            <!--banner-->
            <div class="banner_box">
                <ul class="banner_pic" id="banner_img">
                    <li style="display: none;"><img src="~/omer/resources/merser/images/banner_01.jpg" width="980" height="340"><a href="javascript:void(0);" target="_blank" class="green_btn"></a></li>
                    <li style="display: list-item;"><img src="~/omer/resources/merser/images/banner_02.jpg" width="980" height="340"><a href="javascript:void(0);" target="_blank" class="blue_btn"></a></li>
                    <li style="display: none;"><img src="~/omer/resources/merser/images/banner_03.jpg" width="980" height="340"><a href="javascript:void(0);" target="_blank" class="orange_btn"></a></li>
                </ul>
                <div class="clear"></div>
                <!--数字滑条-->
                <div class="imgnum">
                    <span class="">1</span>
                    <span class="onselect">2</span>
                    <span>3</span>
                </div>
            </div>
        </div>
    </div>
    <!--E 内容-->
    <!--S 底部-->
    <div class="footer">
        <!-- 左侧链接 
        <div><a href="http://cn.unionpay.com/" target="_blank">银联官网</a>|<a href="http://online.unionpay.com/" target="_blank">在线支付</a>|<a href="http://online.unionpay.com/static/page/177.html" target="_blank">关于我们</a>|<a href="javascript:void(0);" onclick="docDown();">文档下载</a></div>
        -->
        <!-- 右侧版权 
        <p>
            中国银联股份有限公司版权所有 © 2002-2012 <em>沪ICP备07032180号</em>
            <style type="text/css">
                .cnnic {
                    padding-left: 3px;
                }

                    .cnnic img {
                        height: 22px;
                        width: 63px;
                    }
            </style>
            <span class="cnnic">
                <!--可信网站图片LOGO安装开始-->
                <!--script src="https://ss.cnnic.cn/seallogo.dll?sn=e12050811010020422307708&size=0"></script-->
                <!--可信网站图片LOGO安装结束-->
                <!--<span style="display: inline-block; position: relative; width: auto;">
                    <a id="kx_verify" style="display: inline-block;" kx_type="图标式" target="_blank" tabindex="-1" href="https://ss.cnnic.cn/verifyseal.dll?sn=e12051633010021345301459&amp;ct=df&amp;pa=243499">
                    </a>
                </span>
            </span>
        </p>
        -->
    </div>
    <!--E 底部-->

<!--
    <div id="docDiv" style="display: none; background: #fff;">
         form 
        <table class="t-form">
            <tbody>
                <tr>
                    <td width="25%" class="bc-f8">验证码:</td>
                    <td width="75%">
                        <input type="text" value="" id="verCode" size="4" maxlength="4">&nbsp;&nbsp;&nbsp;
                        <img id="docImag" alt="看不清请点击" onclick="setImage();" src="/omer/login/randCode!docRandImg.action?t=1411797785938">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span id="verCodeTip"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>-->
    @*<script type="text/javascript">
        $(document).ready(function () {
            // 验证码刷新
            //upms.initRandCode("docImag");
        });
        //文档下载验证码
        function docDown() {
            $("#docDiv").show().dialog({
                bgiframe: true,
                autoOpen: false,
                position: 'center',
                zIndex: 200,
                width: 260,
                modal: true,
                title: '文档下载验证',
                buttons: {
                    "确认": function () {
                        validateDoc(this);
                    },
                    "取消": function () {
                        $(this).dialog("destroy");
                        resetDoc();
                        $("#verCodeTip").removeClass("errTip");
                        $("#verCodeTip").html("")
                    }
                }
            });
            $("#docDiv").dialog('open');
        }
        function validateDoc(dalog) {
            var verCode = $("#verCode").val();
            if (null == verCode || "" == verCode) {
                $("#verCodeTip").addClass("errTip");
                $("#verCodeTip").html("验证码不能为空");
                return false;
            }
            var url = "/omer/DOC/docMng!validateDocForm.action";
            $.post(url,
                {
                    docCode: verCode
                }, function (data) {
                    //console.log(data);
                    if (data != undefined) {
                        if (data.chkFlag != undefined)
                            if (data.chkFlag == true) {
                                $("#verCodeTip").removeClass("errTip");
                                $("#verCodeTip").html("");
                                resetDoc();
                                document.location = "/omer/DOC/docMng!queryDoc.action";
                                $("#docDiv").dialog('destroy');
                            } else {
                                $("#verCodeTip").addClass("errTip");
                                $("#verCodeTip").html(data.chkMsg != undefined ? data.chkMsg : "验证失败,请重新输入");
                                upms.refreshRandCode("docImag");
                                return false;
                            }
                    } else {
                        $("#verCodeTip").addClass("errTip");
                        $("#verCodeTip").html(data.chkMsg != undefined ? data.chkMsg : "验证失败,请重新输入");
                        upms.refreshRandCode("docImag");
                        return false;
                    }
                }
            );
        }

        function resetDoc() {
            $("#verCode").val("");
        }
        function setImage() {

            $("#docImag").attr("src", "/omer/login/randCode!docRandImg.action?param=" + new Date().toUTCString());
        };
    </script>*@


    <script type="text/javascript">
        //$(document).ready(function () {
        //    upms.merhome.logininit();
        //$("#btnSubmit").bind("click", function () {
        //    $("#mchntCd").removeClass("txterror");
        //    $("#mchntCd").parents().next(".note_info").html("").removeClass("txt_error");
        //    $("#loginName").removeClass("txterror");
        //    $("#loginName").parents().next(".note_info").html("").removeClass("txt_error");
        //    $("#captchaCode").removeClass("txterror");
        //    $("#captchaCode").parents().next(".note_info").html("").removeClass("txt_error");
        //    $("#_pwdTip_").html("");
        //    $("#_pwdTip_").removeClass("txt_error");

        //    var sMchntCd = $.trim($("#mchntCd").val()),
        //        sLoginName = $.trim($("#loginName").val()),
        //        sCaptchaCode = $.trim($("#captchaCode").val()),
        //        sLowerLoginNm = "",
        //        flag = true;
        //    if (upms.checkUtils.isEmptyStr(sMchntCd)) {
        //        $("#mchntCd").addClass("txterror");
        //        $("#mchntCd").parents().next(".note_info").html('商户代码不能为空').addClass("txt_error");
        //        flag = false;
        //    }
        //    if (upms.checkUtils.isEmptyStr(sLoginName)) {
        //        $("#loginName").addClass("txterror");
        //        $("#loginName").parents().next(".note_info").html('用户名不能为空').addClass("txt_error");
        //        flag = false;
        //    } else {
        //        sLowerLoginNm = sLoginName.toLowerCase();
        //        var regu = /.*[\u4e00-\u9fa5]+.*$/;
        //        if (regu.test(sLowerLoginNm)) {
        //            $("#loginName").addClass("txterror");
        //            $("#loginName").parents().next(".note_info").html('用户名不能为中文').addClass("txt_error");
        //            flag = false;
        //        }
        //    }
        //    if (upms.checkUtils.isEmptyStr(sCaptchaCode)) {
        //        $("#captchaCode").addClass("txterror");
        //        $("#captchaCode").parents().next(".note_info").html('验证码不能为空').addClass("txt_error");
        //        flag = false;
        //    }
        //    if (flag) {
        //        var upeResult = userUPE.result(sLowerLoginNm);
        //        if (upeResult.resp != 00) {
        //            $("#_pwdTip_").html(upeResult.errMsg()).addClass("txt_error");
        //        } else {
        //            var sPwdVal = upeResult.cypher;
        //            $("#loginPassword").val(sPwdVal);
        //            $("#loginName").val(sLowerLoginNm);
        //            $.ajax({
        //                type: "post",
        //                url: "/omer/login/login!checkUserLogin.action",
        //                data: { mchntCd: sMchntCd, loginName: sLowerLoginNm, loginPassword: sPwdVal, captchaCode: sCaptchaCode },
        //                success: function (msg) {
        //                    if (upms.checkUtils.isNotNull(msg)) {
        //                        upms.refreshRandCode("captchaCodeImg");
        //                        var retFlag = msg["jsonFlag"];
        //                        if (retFlag == true) {
        //                            $("#loginForm").submit();
        //                        } else {
        //                            var retType = msg["jsonType"];
        //                            switch (retType) {
        //                                case "captchaCode":
        //                                    $("#captchaCode").addClass("txterror");
        //                                    $("#captchaCode").parents().next(".note_info").html(msg["jsonMsg"]).addClass("txt_error");
        //                                    break;
        //                                case "mchntCd":
        //                                    $("#mchntCd").addClass("txterror");
        //                                    $("#mchntCd").parents().next(".note_info").html(msg["jsonMsg"]).addClass("txt_error");
        //                                    break;
        //                                case "loginName":
        //                                    $("#loginName").addClass("txterror");
        //                                    $("#loginName").parents().next(".note_info").html(msg["jsonMsg"]).addClass("txt_error");
        //                                    break;
        //                                case "loginPassword":
        //                                    $("#_pwdTip_").html(msg["jsonMsg"]).addClass("txt_error");
        //                                    break;
        //                                default:
        //                                    break;
        //                            }
        //                        }
        //                    }
        //                },
        //                error: function (msg) {
        //                    if (upms.checkUtils.isNotNull(msg)) {
        //                        upms.refreshRandCode("captchaCodeImg");
        //                        var retFlag = msg["jsonFlag"];
        //                        if (retFlag == true) {
        //                            $("#loginForm").submit();
        //                        } else {
        //                            var retType = msg["jsonType"];
        //                            switch (retType) {
        //                                case "captchaCode":
        //                                    $("#captchaCode").addClass("txterror");
        //                                    $("#captchaCode").parents().next(".note_info").html(msg["jsonMsg"]).addClass("txt_error");
        //                                    break;
        //                                case "mchntCd":
        //                                    $("#mchntCd").addClass("txterror");
        //                                    $("#mchntCd").parents().next(".note_info").html(msg["jsonMsg"]).addClass("txt_error");
        //                                    break;
        //                                case "loginName":
        //                                    $("#loginName").addClass("txterror");
        //                                    $("#loginName").parents().next(".note_info").html(msg["jsonMsg"]).addClass("txt_error");
        //                                    break;
        //                            }
        //                        }
        //                    }
        //                }
        //            });
        //        }
        //    }
        //});
        //});
    </script>
    <!--<div class="rightservice">
        <a href="https://95516.unionpay.com/web/icc/chat/chat?c=1&amp;s=4&amp;st=1&amp;depid=ff8080813daaa230013de380641900ec&amp;" 
           target="_blank" class="service" id="rightservice_img"></a>
    </div>-->
    <script type="text/javascript">
        function portalSubmit() {
            debugger;
            var paramObj = {};
            paramObj.UserCode = $("#loginName").val();
            paramObj.Password = $("#loginPassword").val();;
            paramObj.AgencyCode = $("#mchntCd").val();;

            $.ajax({
                url: '@Url.Action("PortalLogin", "Account")',
                type: "GET",
                cache: false,
                async: false,
                data: {
                    cusparam: JSON.stringify(paramObj)
                },
                success: function (data) {
                    debugger;
                    if (data == "TRUE") {
                        window.location.href = '@Url.Action("Index","Home")';
                    }
                    else {
                        alert("密码错误"); 
                    }
                },
                error: function (data) {
                }
            });
        }
    </script>
</body>
</html>