@using (Html.BeginForm(this.ViewContext.RouteData.Values["action"].ToString(), "Home", FormMethod.Post, new { @id = "sd" }))
{
    <input name="OldValue" type="hidden" value="@ViewBag.OldValue" />
    <table class="tform">
        <tr>
            <th style = "width:80px">
                当前密码:
            </th>
            <td>
                <input name="oldPassword" type="password" class="easyui-validatebox" required="true" />
            </td>
            
        </tr>
        <tr>
           <th >
                新密码:
            </th>
            <td>
                <input id="newPassword"  name="newPassword" type="password" class="easyui-validatebox" required="true" />
            </td>
        </tr>
        <tr>
            <th >
                确认新密码:
            </th>
            <td>
                <input id="affirmPassword" name="affirmPassword" type="password" class="easyui-validatebox" required="true"/>
            </td>
        </tr>
        
    </table>
}
<div class="dialog-button" style="text-align: center;">
    <a href="#" class="easyui-linkbutton" onclick="Submit();">确定</a>
</div>
<script type="text/javascript">
    var isSubmit = false;
    function Submit() {
        if (!isSubmit) {
            if ($("#newPassword").val() != $("#affirmPassword").val()) {
                $.messager.alert("提示","【新密码】与【确认新密码】不一致");
                return
            }
            isSubmit = true;
            setTimeout(function () { isSubmit = false; }, 500);
            $('#sd').submit();
        }
    }
    if (window.$) {
        $('#sd').form({
            success: function (data) {
                if (data === "1") {
                    CloseChildWindow();
                }
                else {
                    $.messager.alert('提示', data);
                }
            }
        });
        $.parser.onComplete = function () {
            $('#sd').form("validate");
        }
    }
</script>