@{
    Layout = null;
    ViewBag.Title = "文件服务管理";
}

<!DOCTYPE html>
<html>
<head>
    <title>文件服务</title>
    <link href="~/Scripts/easyui/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.11.0.js"></script>
    <link href="~/Scripts/easyui/themes/default/easyui.css" rel="stylesheet" />
    <script src="~/Scripts/easyui/jquery.easyui.js"></script>
    <script src="~/Scripts/easyui/locale/easyui-lang-zh_CN.js"></script>
    <link href="~/Scripts/easyui/Site.css" rel="stylesheet" />
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#menuTree').tree({
                url: "@Url.Action("menuTree")",
                onClick: function (node) {
                    if (!$('#menuTree').tree('isLeaf', node.target)) {
                        return;
                    }
                    $(".easyui-layout").layout('panel', 'center').panel({ href: node.attributes.url });
                }
            });
        });
        function ShowChildWindow(title, width, height, href, maximized, onLoad) {
            isReload = false;
            draggable = !maximized;
            var top = (document.body.clientHeight - height) / 2;
            var left = (document.body.clientWidth - width) / 2;
            $('.easyui-dialog').dialog({ title: title, left: left, top: top, width: width, height: height, href: href, maximized: maximized, draggable: true, onLoad: onLoad });
            $('.easyui-dialog').dialog('open');

        }
        function CloseChildWindow() {
            $('.easyui-dialog').dialog('close');
        }
        function RefreshChildWindow(url) {
            $('.easyui-dialog').dialog('refresh', url);
        }
    </script>
</head>
<body class="easyui-layout">
    <div data-options="region:'north'" style="height: 18px">
        <div style="width:100%;text-align:right;">
            <span style="padding-right:5px;">@ViewBag.UserName</span>|
            <span style="padding-right:5px;"><a href="#" onclick="ShowChildWindow('修改密码',300,172,'@Url.Action("ChangePassword")',false)">修改密码</a></span>|
            <span style="padding-left:5px;">@Html.ActionLink("重新登录", "SignOut")</span>
        </div>
    </div>
    <div data-options="region:'west',split:true" title="菜单" style="width:200px;">
        <ul id="menuTree"></ul>
    </div>
    <div data-options="region:'center'">

    </div>

    <div class="easyui-dialog" data-options="collapsible:false,closed:true,modal:true"
         style="overflow: hidden;">
    </div>
</body>
</html>

