
@{
    ViewBag.Title = "文件列表";
}

<table class="easyui-datagrid" title="文件列表" data-options="
            fit:true,
            singleSelect:true,
            remoteSort: false,
            multiSort:true,
            url:'/FileDetail/GetFileList',
            frozenColumns:[[{field:'Operate',title:'操作',width:60}]],
            pagination:true,
            pageList:[10,20,30,50,100],
            pageSize:30,
            toolbar:'#tb',
            rownumbers:true">
    <thead>
        <tr>
            <th data-options=" field:'ProjectName',width:200">项目名称</th>
            <th data-options="field:'FileName',width:300">文件名称</th>
            <th data-options="field:'CreateUser',width:150">上传人</th>
            <th data-options="field:'CreateTime',width:150,align:'center'">创建时间</th>
        </tr>
    </thead>
</table>
<div id="tb" style="padding: 5px; height: auto">
    <div style="margin-bottom: 5px">
        项目名称
        <input id="ProjectName" class="easyui-validatebox" style="width: 80px" />
        文件名称
        <input id="FileName" class="easyui-validatebox" style="width: 80px" />
        上传人
        <input id="CreateUser" class="easyui-validatebox" style="width: 80px" />
        创建时间从
        <input id="CreateTimeFrom" class="easyui-datebox" data-options="editable:false" style="width:150px" />
        至
        <input id="CreateTimeTo" class="easyui-datebox" data-options="editable:false" style="width: 150px" />
        <a href="#" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="Search();">
            搜索
        </a>
    </div>
</div>

<script type="text/javascript">
    function Search() {
        $(".easyui-datagrid").datagrid("load", {
            ProjectName: $('#ProjectName').val(),
            FileName: $('#FileName').val(),
            CreateUser: $('#CreateUser').val(),
            CreateTimeFrom: $("#CreateTimeFrom").datebox('getValue'),
            CreateTimeTo: $("#CreateTimeTo").datebox('getValue')
        });
    }
    function Remove(fileId) {
        window.parent.$.messager.confirm('提示', '是否要删除当前记录?', function (r) {
            if (r) {
                var url = '@Url.Action("Delete")';
                $.post(url, { FileId: fileId }, function (data, status) {
                    if (data == "1") {
                        $(".easyui-datagrid").datagrid("load");
                    }
                    else {
                        window.parent.$.messager.alert('提示', data);
                    }
                });
            }
        });
    }
</script>