
.WdateDiv {
    background-color: #ffffff;
    border: 1px solid #bbb;
    padding: 2px;
    width: 180px;
}
.WdateDiv2 {
    width: 360px;
}
.WdateDiv * {
    font-size: 9pt;
}
.WdateDiv .NavImg a {
    cursor: pointer;
    display: block;
    height: 16px;
    width: 16px;
}
.WdateDiv .NavImgll a {
    background: url("img.gif") no-repeat scroll 0 0 transparent;
    float: left;
}
.WdateDiv .NavImgl a {
    background: url("img.gif") no-repeat scroll -16px 0 transparent;
    float: left;
}
.WdateDiv .NavImgr a {
    background: url("img.gif") no-repeat scroll -32px 0 transparent;
    float: right;
}
.WdateDiv .NavImgrr a {
    background: url("img.gif") no-repeat scroll -48px 0 transparent;
    float: right;
}
.WdateDiv #dpTitle {
    height: 24px;
    margin-bottom: 2px;
    padding: 1px;
}
.WdateDiv .yminput {
    border: 0 none;
    cursor: pointer;
    height: 20px;
    margin-top: 2px;
    text-align: center;
    width: 50px;
}
.WdateDiv .yminputfocus {
    border: 1px solid #ccc;
    color: blue;
    font-weight: bold;
    height: 20px;
    margin-top: 2px;
    text-align: center;
    width: 50px;
}
.WdateDiv .menuSel {
    background-color: #ffffff;
    border: 1px solid #ccc;
    display: none;
    position: absolute;
    z-index: 1;
}
.WdateDiv .menu {
    background-color: #fff;
    cursor: pointer;
}
.WdateDiv .menuOn {
    background-color: #beebee;
    cursor: pointer;
}
.WdateDiv .invalidMenu {
    color: #aaa;
}
.WdateDiv .YMenu {
    margin-top: 20px;
}
.WdateDiv .MMenu {
    margin-top: 20px;
}
.WdateDiv .hhMenu {
    margin-left: 26px;
    margin-top: -90px;
}
.WdateDiv .mmMenu {
    margin-left: 26px;
    margin-top: -46px;
}
.WdateDiv .ssMenu {
    margin-left: 26px;
    margin-top: -24px;
}
.WdateDiv .Wweek {
    background: none repeat scroll 0 0 #daf3f5;
    border-right: 1px solid #bdebee;
    text-align: center;
}
.WdateDiv .MTitle {
    background-color: #bdebee;
}
.WdateDiv .WdayTable2 {
    border: 1px solid #c5d9e8;
    border-collapse: collapse;
}
.WdateDiv .WdayTable2 table {
    border: 0 none;
}
.WdateDiv .WdayTable {
    border: 1px solid #c5d9e8;
    line-height: 20px;
}
.WdateDiv .WdayTable td {
    text-align: center;
}
.WdateDiv .Wday {
    cursor: pointer;
}
.WdateDiv .WdayOn {
    background-color: #c0ebef;
    cursor: pointer;
}
.WdateDiv .Wwday {
    color: #ff2f2f;
    cursor: pointer;
}
.WdateDiv .WwdayOn {
    background-color: #c0ebef;
    color: #000;
    cursor: pointer;
}
.WdateDiv .Wtoday {
    color: blue;
    cursor: pointer;
}
.WdateDiv .Wselday {
    background-color: #a9e4e9;
}
.WdateDiv .WspecialDay {
    background-color: #66f4df;
}
.WdateDiv .WotherDay {
    color: #6a6aff;
    cursor: pointer;
}
.WdateDiv .WotherDayOn {
    background-color: #c0ebef;
    cursor: pointer;
}
.WdateDiv .WinvalidDay {
    color: #aaa;
}
.WdateDiv #dpTime {
    float: left;
    margin-right: 30px;
    margin-top: 3px;
}
.WdateDiv #dpTime #dpTimeStr {
    margin-left: 1px;
}
.WdateDiv #dpTime input {
    border: 1px solid #ccc;
    height: 20px;
    text-align: center;
    width: 18px;
}
.WdateDiv #dpTime .tB {
    border-right: 0 none;
}
.WdateDiv #dpTime .tE {
    border-left: 0 none;
    border-right: 0 none;
}
.WdateDiv #dpTime .tm {
    border-left: 0 none;
    border-right: 0 none;
    width: 7px;
}
.WdateDiv #dpTime #dpTimeUp {
    background: url("img.gif") no-repeat scroll -32px -16px rgba(0, 0, 0, 0);
    border: 0 none;
    height: 10px;
    width: 13px;
}
.WdateDiv #dpTime #dpTimeDown {
    background: url("img.gif") no-repeat scroll -48px -16px rgba(0, 0, 0, 0);
    border: 0 none;
    height: 10px;
    width: 13px;
}
.WdateDiv #dpQS {
    background: url("img.gif") no-repeat scroll 0 -16px rgba(0, 0, 0, 0);
    cursor: pointer;
    float: left;
    height: 20px;
    margin-right: 3px;
    margin-top: 3px;
    width: 20px;
}
.WdateDiv #dpControl {
    text-align: right;
}
.WdateDiv .dpButton {
    border: 1px solid #ccc;
    height: 20px;
    margin-right: 1px;
    margin-top: 2px;
    width: 45px;
}
